[user]
	name = Gleb Kuznetsov
	email = gleb.kuznetsov@gmail.com

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[color]
	diff = auto

[push]
	default = simple

[alias]
  br = branch
  cm = checkout master
  co = checkout
  di = diff
  s = status
